<div class="main">
  <div class="loadingGif" *ngIf="loading">
    <img src="assets/loading.gif" class="">
  </div>
  <div class="welcome" [style.opacity]="'loading'? '1' : '0.5'">
    <div class="personalDetails">
      <div class="title titleFont">Oded bartov</div>
      <div class="paragraph paragraphFont">Versatile Full Stack Web and Mobile Developer with a fervent passion for
        coding, characterized by a commitment to continuous self-improvement. Demonstrates proficiency in a diverse
        range of technologies, coupled with a strong foundation in optimizing the performance and maintenance of web
        systems. Proven ability to seamlessly transition between independent project management and collaborative
        teamwork, contributing to the success of multifaceted development initiatives</div>
      <div class="contact">
        <div class="contactLine">
          <div class="contactHeader titleFont">Phone</div>
          <div class="paragraphFont contactText">050-3664101</div>
        </div>
        <div class="contactLine">
          <div class="contactHeader titleFont">Email</div>
          <div class="paragraphFont contactText link" (click)="sendEmail()">{{myEmail}}</div>
        </div>
        <div class="contactLine">
          <div class="contactHeader titleFont">Address</div>
          <div class="paragraphFont contactText">Valero 20, Jerusalem, Israel</div>
        </div>
        <div class="contactLine">
          <div class="contactHeader titleFont">Languages</div>
          <div class="paragraphFont contactText">Hebrew (fluent), English (fluent)</div>
        </div>
        <div class="contactLine">
          <div class="contactHeader titleFont">Hobbies</div>
          <div class="paragraphFont contactText">Piano (self taught), brewing beer, self developement, outdoor
            activities, working on private projects and much more :-)</div>
        </div>
        <div class="contactLine">
          <div class="contactHeader titleFont">Social</div>
          <img class="socialIcon" src="assets/linkedin_icon.png" alt="My linkedin profile"
            (click)="navigateToLinkedin()">
            <img class="socialIcon" src="assets/github_icon.png" alt="My github profile" (click)="navigateToGithub()">
            <img class="socialIcon" src="assets/codewars_icon.png" alt="My codewars profile" (click)="navigateToCodewars()">
            <img class="socialIcon" src="assets/facebook_icon.png" alt="My facebook profile"
              (click)="navigateToFacebook()">
        </div>
      </div>
      <div class="contactButtons">
        <button class="WhatsappBtn" (click)="sendWhatsapp()">Contact me via Whatsapp</button>
        <button class="resumeBtn" (click)="downloadResume()">Download my resume</button>
      </div>
    </div>
    <div class="profile">
      <img class="profileImage" src="assets/oded_profile2.jpg" alt="this is me!">
    </div>
  </div>
  <div class="seperationLineContainer">
    <div class="seperationLine"></div>
  </div>
  <div class="skills">
    <div class="techs">
      <div class="techsList">
        <div *ngFor="let item of skills; index as i" class="skill" [ngStyle]="{'margin-right': i%2==0? '10%' : ''}">
          <div class="titleFont">{{item.name}}</div>
          <div class="stars">
            <div class="star" [id]="item.level > 0? 'active' : ''"></div>
            <div class="star" [id]="item.level > 1? 'active' : ''"></div>
            <div class="star" [id]="item.level > 2? 'active' : ''"></div>
            <div class="star" [id]="item.level > 3? 'active' : ''"></div>
            <div class="star" [id]="item.level > 4? 'active' : ''"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pie">
      <img class="pieImage" src="assets/pie.png">
      <!-- <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'310px'}"></canvasjs-chart> -->
    </div>
    <!-- <div class="pie-chart" style="height: 300px; width: 300px;">
      <div *ngFor="let slice of slices; let i = index" class="slice" 
      [style.transform]="getSliceTransform(i)" [style.background]="slice.color">
        {{ slice.label }}
      </div>
    </div> -->
  </div>
  <div class="seperationLineContainer">
    <div class="seperationLine"></div>
  </div>
  <div class="carousel" [@slide]="animationState">
    <img class="slideButton" [style.visibility]="currentIndex>0 ? 'visible' : 'hidden'"
      (mouseenter)="mouseEnterBackButton($event)" (mouseleave)="mouseLeaveBackButton($event)"
      src="assets/back_icon_not_active.png" (click)="prev()">
    <div>
      <div class="item jobTitleLine titleFont">{{ carouselItems[currentIndex].title }}</div>
      <div class="item titleFont companyLine">{{ carouselItems[currentIndex].company }}</div>
      <div class="item paragraphFont dates">{{ carouselItems[currentIndex].dateFrom }} -
        {{carouselItems[currentIndex].dateTo}}</div>
      <div class="item workPoints paragraphFont" *ngFor="let resp of carouselItems[currentIndex].responsibilities">
        <div class="workPoint">&bull;</div>
        {{resp}}
      </div>
    </div>
    <img class="slideButton" [style.visibility]="currentIndex < carouselItems.length-1 ? 'visible' : 'hidden'"
      (mouseenter)="mouseEnterNextButton($event)" (mouseleave)="mouseLeaveNextButton($event)"
      src="assets/next_icon_not_active.png" (click)="next()">
  </div>
</div>

<!-- interest/hobbies. languages -->