@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat.woff2') format('woff2');
  font-display: swap; /* Ensures text is visible during font load */
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto.woff2') format('woff2');
  font-display: swap; /* Ensures text is visible during font load */
}