.main {
    background-color: rgb(215, 237, 255);
}

.welcome {
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding: 5px 8% 0;
    /* margin-bottom: 1%; */
}

.loadingGif {
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personalDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    font-family: 'Roboto';
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.profileImage {
    /* float: right; */
    height: 75%;
}

.titleFont {
    font-family: 'Montserrat';
}

.paragraphFont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

.paragraph {
    font-size: 15px;
    margin-bottom: 2%;
}

.contactLine {
    margin: 2% 0;
    display: flex;
}

.contactText {
    font-size: 15px;
    width: 80%;
}

.contactHeader {
    font-size: 15px;
    font-weight: bold;
    width: 20%;
}

.socialIcon {
    height: 20px;
    margin-right: 20px;
}

.socialIcon:hover {
    cursor: pointer;
}

.link {
    color: rgb(86, 52, 241);
    font-size: large;
}

.link:hover {
    cursor: pointer;
}

.contactButtons {
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
    height: 40px;
    margin-top: auto;
}

.WhatsappBtn {
    background-color: rgb(124, 228, 115);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.WhatsappBtn:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 1);
}

.resumeBtn {
    background-color: rgb(136, 101, 234);
    color: aliceblue;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.resumeBtn:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 1);
}


.seperationLineContainer {
    display: flex;
    justify-content: center;
    padding: 10px 8% 1%;
    height: 2px;
    margin: 10px 0;
}

.seperationLine {
    background-color: rgb(109, 129, 160);
    height: 2px;
    width: 100%;
}

.skill {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 45%;
    font-size: 30px;
    font-weight: bold;
}

.skills {
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    margin-top: -1%;
}

.techs {
    width: 50%;
}

.techsList {
    display: flex;
    flex-wrap: wrap;
}

.pie {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 90px;
}

.pieImage {
    height: 100%;
}

.experience {
    display: flex;
    flex-direction: column;
    width: 100%;


    .work-place {
        width: 100%;
        justify-content: center;
        display: flex;
        padding: 0 300px;

        .text {
            flex: 1;
            padding: 30px;

            .header {
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 26px;
            }

            .resp {
                font-family: 'Roboto';
                font-size: 18px;
            }
        }

        .bullets {
            display: flex;
            flex-direction: column;
            padding: 30px;
            flex: 1;

            .tech {
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
}

.star {
    background-color: rgb(47, 41, 41);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 30px;
    width: 30px;
}

#active {
    background-color: rgb(203, 203, 38);
}

.item {
    flex: 1;
    text-align: left;
    padding: 5px;
}

.jobTitleLine {
    margin-top: -10px;
    font-size: 28px;
    font-weight: bold;
}

.companyLine {
    font-size: 20px;
}

.workPoints {
    display: flex;
}

.workPoint {
    margin-right: 5%;
}

.dates {
    font-size: 14px;
    font-style: italic;
    color: rgb(27, 125, 210);
}

.pie-chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}